models/
grafana/provisioning/notifiers/
grafana/provisioning/alerting/contact-points.yml
k8s/grafana-secret.yaml
.venv/
__pycache__/
*.py[cod]
.env
helm/ml-pipeline/values.secret.yaml
*.pt
*.bin
*.safetensors
.DS_Store
CLAUDE.md
predictions.csv
mlflow.db
mlruns/

# Terraform
terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
